#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.resume-date-range {
  text-align: right;
  margin-right: 1em;
}

.resume-accordion-header-left {
  flex: 1;
}

.resume-accordion-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  width: 100%;
  align-items: center;
  margin-right: 1em;
}

@media (max-width: 600px) {
  .MuiTabs-indicator {
    opacity: 0;
  }
  .MuiTabs-flexContainer {
    margin-top: 2em;
    margin-bottom: 2em;
  }

}

@media (max-width: 1000px) {
  .accordion-break {
    display: none;
  }
  .accordionTitles {
    flex-direction: column;
  }
  .resume-date-range {
    text-align: left;
  }
  .resume-accordion-header {
    flex-direction: column;
    align-items: flex-start;
  }
}